{% extends "admin/change_list.html" %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <form id='import-form' method="post" enctype="multipart/form-data" action="{% url 'sights:sights_import' %}">
        {% csrf_token %}
        <a href="#" class="addlink" onclick="document.getElementById('file-input').click()">
            Импорт
        </a>
        <input type="file" id="file-input" name="file" accept=".xlsx" style="display: none;"
            onchange="document.getElementById('import-form').submit()">
    </form>
</li>
{% endblock %}